* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html {
    font-size: 10px;
}

#firstsection {
    background: transparent;
    /* position: fixed; */
    /* top: 0; */
    /* background: red; */
    z-index: 100;
}

.inner nav {
    background: transparent;
}

#firstsection .container-fluid {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

#firstsection .navbar-nav {
    margin-left: auto;
}

.inner {
    width: 100%;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg.jpg);
    background-size: cover;
    padding-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#firstsection .navbar-brand {
    padding-top: 10px;
    font-size: 4rem;
    color: #FEA116;
    font-weight: 800;
}

#firstsection .active {
    color: #FEA116;
    border-bottom: 3px solid #FEA116;
}

#firstsection li a {
    font-family: "Heebo", sans-serif;
    margin-top: 10px;
    font-size: 1.7rem;
    margin-right: 15px;
    color: white;
    font-weight: 600;
}

#firstsection li a:hover{
    color: #FEA116;
}

#firstsection .dropdown-menu a{
    color: black;
}

#firstsection .btn {
    padding: 10px 15px;
    background: #FEA116;
    color: white;
    font-size: 1.8rem;
    margin-left: 10px;
    font-weight: 700;
}


#firstsection .btn:hover {
    background: white;
    color: #FEA116;
}

#firstsection .dropdown .active{
    background: none;
    color: #FEA116;
}













/*  */

.secondsection {
    padding-top: 150px;
}

.secondsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.secondsection .left {
    margin-top: 100px;
    /* background: teal; */
    width: 95%;
}

.secondsection h1 {
    font-size: 6rem;
    color: white;
    font-weight: 800;
}

.secondsection p {
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    font-family: "Heebo", sans-serif;
}


.secondsection .btn {
    margin-top: 20px;
    padding: 15px 30px;
    background: #FEA116;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
}

.secondsection .btn:hover {
    background: white;
    color: #FEA116;
}

.secondsection img {
    width: 90%;
    margin: 0 auto;
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}























/*  */

.thirdsection {
    margin-top: 100px;
}

.thirdsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.thirdsection .page {
    /* background: gray; */
    padding: 30px 15px;
    margin: 10px;
    transition: 0.5s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.thirdsection i {
    font-size: 5rem;
    color: #FEA116;
    transition: 0.5s;
}

.thirdsection h4 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    transition: 0.5s;
}

.thirdsection p {
    font-size: 1.7rem;
    color: gray;
    transition: 0.5s;
    font-family: "Heebo", sans-serif;
}

.thirdsection .page:hover {
    background: #FEA116;
    transition: 1s;
}

.thirdsection .page:hover i {
    color: white;
    transition: 0.5s;
}

.thirdsection .page:hover p {
    color: white;
    transition: 0.5s;
}

.thirdsection .page:hover h4 {
    color: white;
    transition: 0.5s;
}
























/*  */

.forthsection {
    margin-top: 100px;
}

.forthsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.forthsection .left {
    height: auto;
}

.forthsection img {
    width: 100%;
    margin: 7px 5px;
}

.forthsection #pic1 img {
    padding-top: 100px;
    padding-right: 100px;
}

.forthsection #pic2 img {
    padding-bottom: 100px;
    padding-left: 100px;
}

.forthsection h4 {
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
}

.forthsection h1 {
    font-size: 4rem;
    font-weight: 800;
    color: black;
    margin-top: 10px;
}

.forthsection i {
    color: #FEA116;
    font-size: 4rem;
}

.forthsection p {
    color: gray;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 20px;
}

.forthsection .right {
    padding: 100px 30px;
}

.forthsection h1 span {
    color: #FEA116;
    top: -5px;
    font-size: 5rem;
    position: relative;
}

.forthsection h5 {
    font-size: 1.8rem;
    color: gray;
}

.forthsection h5 span {
    color: black;
    font-weight: 800;
    font-size: 1.9rem;
}

.forthsection .right1 {
    padding-top: 15px;
}

.forthsection .btn {
    margin-top: 20px;
    padding: 15px 45px;
    font-size: 1.7rem;
    background: #FEA116;
    font-weight: 700;
    color: white;
}

.forthsection .btn:hover {
    background: black;
    color: white;
}

.forthsection .counters i {
    font-size: 6rem;
    font-weight: 400;
    width: 1%;
    padding-right: 10px;
}























/*  */

.fifthsection {
    margin-top: 100px;
}

.fifthsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.fifthsection img {
    width: 100%;
    height: 100px;
}

.fifthsection .box {
    width: 35%;
    margin: 0 auto;
}

.fifthsection .boxx {
    margin-top: 50px;
    border-bottom: 1px solid gray;
}

.fifthsection h4 {
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
}

.fifthsection h4 i {
    font-size: 4rem;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 5px;
}

.fifthsection h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
}

.fifthsection p {
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 0;
}

.fifthsection .boxx i {
    font-size: 3.4rem;
    color: #FEA116;
    padding-top: 5px;
}

.fifthsection h5 {
    font-size: 1.7rem;
    font-weight: 800;
}

.fifthsection h3 {
    padding-top: 10px;
    font-weight: 800;
    font-size: 2.2rem;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.fifthsection .content {
    margin-top: 50px;
}

.fifthsection .boxx #box2 .col-2 {
    text-align: right;
}

.fifthsection .boxx #box3 .col-2 {
    text-align: right;
}

.fifthsection .content span {
    float: right;
    color: #FEA116;
}

.fifthsection .content .col-lg-6 {
    /* margin-top: 30px; */
    padding: 20px;
}

.fifthsection .box1,
.box2,
.box3 {
    display: none;
}

.fifthsection .active {
    display: block !important;
}


.fifthsection .active-button {
    border-bottom: 3px solid #FEA116;
}





























/*  */

.sixthsection {
    margin-top: 100px;
}

.sixthsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.sixthsection .left img {
    width: 100%;
    height: 600px;
}

.sixthsection .right {
    background: #0F172B;
    padding: 40px;
}

.sixthsection h4 {
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
}


.sixthsection h4 i {
    font-size: 4rem;
    position: relative;
    padding-left: 10px;
    top: 10px;
}

.sixthsection h1 {
    font-size: 4.5rem;
    color: white;
    font-weight: 800;
}

.sixthsection input {
    padding: 10px;
    font-size: 1.8rem;
    margin-top: 20px;
}

.sixthsection select {
    padding: 10px;
    font-size: 1.8rem;
    margin-top: 20px;
}

.sixthsection textarea {
    padding: 10px;
    width: 98%;
    margin: 0 auto;
    font-size: 1.8rem;
    margin-top: 20px;
}


.sixthsection .btn {
    margin-top: 20px;
    padding: 15px 45px;
    font-size: 1.7rem;
    background: #FEA116;
    font-weight: 700;
    color: white;
    margin-left: 5px;
    width: 98%;
}


.sixthsection .btn:hover {
    background: white;
    color: #FEA116;
}































/*  */

.seventhsection {
    margin-top: 100px;
}

.seventhsection h4 {
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
}

.seventhsection h4 i {
    font-size: 4rem;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 5px;
}

.seventhsection h1 {
    font-size: 4.5rem;
    font-weight: 800;
    text-align: center;
}

.seventhsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.seventhsection .card {
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 20px 0px 20px;
    border: none;
    height: calc(100% - 70px);
    overflow: hidden;
    transition: 0.5s;
}

.seventhsection .card:hover {
    height: calc(100% - 20px);
    transition: 1s;
}

.seventhsection img {
    border-radius: 100%;
    width: 100%;
}

.seventhsection .card-body {
    margin-top: 20px;
    text-align: center;
}

.seventhsection h3 {
    font-size: 2.2rem;
    font-weight: 800;
}

.seventhsection p {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.seventhsection .card-body i {
    width: 15%;
    background: #FEA116;
    color: white;
    font-size: 2rem;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    border-radius: 100% 100% 0% 0%;
}
























/*  */

.eightsection {
    margin-top: 100px;
}

.eightsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.eightsection h4 {
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
}

.eightsection h4 i {
    font-size: 4rem;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 5px;
}

.eightsection h1 {
    font-size: 4.5rem;
    font-weight: 800;
    text-align: center;
}

.eightsection #carouselExampleAutoplaying {
    margin-top: 50px;
}

.eightsection .box {
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
}

.eightsection .box i {
    font-size: 4rem;
    color: #FEA116;
}

.eightsection p {
    margin-top: 10px;
    font-size: 1.7rem;
    color: gray;
}

.eightsection img {
    width: 100%;
    border-radius: 100%;
}

.eightsection .right {
    padding-left: 10px;
}

.eightsection h3 {
    font-size: 2rem;
    font-weight: 800;
}

.eightsection .right p {
    font-size: 1.5rem;
    margin-top: 5px;
}

.eightsection .carousel-control-prev {
    display: none;
}

.eightsection .carousel-control-next {
    display: none;
}





























/*  */

.ninthsection {
    margin-top: 100px;
    background: #0F172B;
}

.ninthsection .container-fluid {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0px;
}


.ninthsection h4 {
    /* text-align: center; */
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.ninthsection h4 i {
    font-size: 4rem;
    position: relative;
    padding-left: 10px;
    top: 5px;
}

.ninthsection .company p a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    transition: 1s;
}

.ninthsection p i {
    margin-right: 10px;
}

.ninthsection span i {
    padding: 10px 0px;
    font-size: 2rem;
    margin-right: 10px;
    border: 1px solid white;
    width: 13%;
    color: white;
    border-radius: 100%;
    text-align: center;
}

.ninthsection p {
    color: white;
    font-size: 1.6rem;
    ;
    font-weight: 700;
}

.ninthsection .contact p {
    margin-bottom: 15px;
}

.ninthsection h5 {
    font-size: 2rem;
    color: white;
    font-weight: 800;
}

.ninthsection .company a:hover {
    padding-left: 10px;
    transition: 1s;
    color: #FEA116;
}


.ninthsection input {
    border: 1px solid black;
    background: white;
    /* width: 100%; */
    padding: 10px;
    font-size: 1.7rem;
}


.ninthsection button {
    position: relative;
    left: -30px;
    width: 100%;
    background: #FEA116;
    color: black;
    padding: 10px;
    font-size: 1.7rem;
    border-radius: 0px 5px 5px 0px;
    transition: 1s;
    z-index: 99;
}

.ninthsection span i:hover {
    background: white;
    color: #FEA116;
}


.ninthsection button:hover {
    background: #FEA116;
    color: white;
}






















/*  */

.tenthsection {
    text-align: center;
    padding: 30px 0px 20px 0px;
    background: white;
}

.tenthsection p {
    font-size: 2rem;
    font-weight: 800;
}













































/*  */

@media only screen and (max-width:1200px) {

    #firstsection .container-fluid {
        width: 95%;
        /* background: red; */
    }

    .secondsection .left {
        margin-top: 50px;
    }

    .thirdsection .container-fluid {
        width: 95%;
    }

    .thirdsection p {
        font-size: 1.5rem;
    }

    .forthsection .container-fluid {
        width: 95%;
    }

    .forthsection .right {
        padding: 30px 0px 0px 30px;
    }

    .forthsection p {
        font-size: 1.5rem;
    }

    .forthsection h1 {
        font-size: 3.5rem;
    }

    .forthsection #pic1 img {
        padding-top: 70px;
        padding-right: 70px;
    }

    .forthsection #pic2 img {
        padding-bottom: 70px;
        padding-left: 70px;
    }

    .fifthsection .container-fluid {
        width: 95%;
    }

    .fifthsection img {
        height: 90px;
    }

    .fifthsection .box {
        width: 42%;
    }

    .fifthsection h5 {
        font-size: 1.6rem;
    }

    .sixthsection .container-fluid {
        width: 100%;
    }

    .seventhsection .container-fluid {
        width: 95%;
    }

    .seventhsection .card-body i {
        width: 20%;
        font-size: 1.8rem;
    }

    .seventhsection h3 {
        font-size: 2rem;
    }

    .eightsection .container-fluid {
        width: 95%;
    }

    .ninthsection .container-fluid {
        width: 95%;
    }

    .ninthsection span i {
        font-size: 1.7rem;
        width: 15%;
    }

}


























/*  */

@media only screen and (max-width:1024px) {

    #firstsection li a {
        font-size: 1.6rem;
    }

    .secondsection h1{
        font-size: 5rem;
    }

    .forthsection .right {
        padding-top: 0px;
    }

    .fifthsection p {
        font-size: 1.4rem;
    }

    .fifthsection h5 {
        font-size: 1.5rem;
    }

    .seventhsection h3 {
        font-size: 1.8rem;
    }

    .seventhsection p {
        font-size: 1.5rem;
    }

    .seventhsection .card-body i {
        font-size: 1.6rem;
    }

    .eightsection p {
        font-size: 1.6rem;
    }

}


















/*  */

@media only screen and (max-width:991px) {

    #firstsection {
        background: #0F172B;
    }

    #firstsection .container-fluid {
        background: #0F172B;
        width: 100%;
        margin-top: 10px;
        padding: 0px 20px;
        /* padding-bottom: 30px; */
    }

    #firstsection .btn {
        margin-top: 20px;
        margin-left: 0px;
        /* width: 100%; */
    }

    #firstsection .bottom{
        margin-bottom: 30px;
    }

    #firstsection li a {
        margin-left: 0px;
    }

    #firstsection .btn {
        margin-left: 0px;
    }

    .secondsection {
        text-align: center;
        padding-top: 250px;
    }

    .secondsection .left {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .secondsection .right {
        width: 100%;
        margin-top: 100px;
    }

    .secondsection .right img {
        width: 80%;
        margin: 0 auto;
    }

    .thirdsection .page {
        height: 230px;
    }

    .forthsection .left {
        padding: 50px;
    }

    .forthsection #pic1 img {
        padding-top: 100px;
        padding-right: 100px;
    }

    .forthsection #pic2 img {
        padding-bottom: 100px;
        padding-left: 100px;
    }

    .fifthsection .box {
        width: 70%;
    }

    .fifthsection img {
        height: 110px;
    }

    .fifthsection .col-10 {
        padding-top: 20px;
    }

    .seventhsection h1 {
        margin-bottom: 50px;
    }

    .seventhsection .card-body i {
        width: 15%;
    }

    .eightsection h3 {
        font-size: 1.7rem;
    }

    .eightsection p {
        font-size: 1.45rem;
    }

    .ninthsection .col-lg-3 {
        margin-bottom: 50px;
    }

    .ninthsection .contact span i {
        width: 12%;
        padding: 15px;
    }

}






















/*  */

@media only screen and (max-width:800px) {

    .secondsection .left {
        width: 95%;
    }

    .eightsection .box {
        margin: 5px;
    }

    .ninthsection .contact span i {
        width: 13%;
    }

}
























/*  */

@media only screen and (max-width:767px) {

    .eightsection .remove {
        display: none;
    }

    .eightsection img {
        padding: 0px 10px;
        text-align: center;
    }

    .eightsection .right {
        padding-top: 5px;
    }

    .eightsection h3 {
        font-size: 2rem;
    }

    .eightsection p {
        font-size: 1.6rem;
    }

    .ninthsection .contact span i {
        width: 15%;
    }

}












/*  */

@media only screen and (max-width:650px) {

    .secondsection .right img {
        width: 75%;
        margin: 0 auto;
    }

    .forthsection h1 span {
        font-size: 4rem;
    }

    .forthsection .left {
        padding: 20px;
    }

    .forthsection #pic1 img {
        padding-top: 70px;
        padding-right: 70px;
    }

    .forthsection #pic2 img {
        padding-bottom: 70px;
        padding-left: 70px;
    }

    .fifthsection .box {
        width: 80%;
    }

    .sixthsection .left img {
        height: 500px;
    }

    .eightsection img {
        padding: 0px;
    }

    .ninthsection .contact span i {
        width: 17%;
        text-align: center;
        font-size: 1.5rem;
    }

}












/*  */

@media only screen and (max-width:575px) {

    .secondsection h1 {
        font-size: 5rem;
    }

    .secondsection .left {
        width: 100%;
    }

    .forthsection h4 {
        font-size: 2.2rem;
    }

    .forthsection h1 {
        font-size: 3rem;
    }

    .fifthsection h4 {
        font-size: 2.2rem;
    }

    .fifthsection h3 {
        font-size: 2rem;
    }

    .fifthsection .boxx p {
        font-size: 2rem;
    }

    .fifthsection h1 {
        font-size: 3rem;
    }

    .fifthsection .box {
        width: 95%;
    }

    .fifthsection h5 {
        font-size: 2.5rem;
    }

    .fifthsection .boxx i {
        font-size: 6rem;
    }

    .fifthsection img {
        height: 90px;
    }


    .fifthsection .boxx #box2 .col-2 {
        text-align: left;
    }

    .fifthsection .boxx #box3 .col-2 {
        text-align: left;
    }

    .fifthsection .boxx{
        border: none;
    }

    .fifthsection .top {
        margin-top: 20px;
        padding-bottom: 5px;
    }

    .fifthsection .col-10 {
        padding-top: 0px;
    }

    .seventhsection h3 {
        font-size: 3rem;
    }

    .seventhsection p {
        font-size: 2rem;
    }

    .eightsection img {
        padding: 0px 10px;
    }

    .eightsection .right {
        padding-top: 15px;
    }

    .ninthsection .contact span i {
        width: 10%;
    }

}














/*  */


@media only screen and (max-width:501px) {

    .eightsection .right {
        padding-top: 5px;
    }

    .eightsection img {
        padding: 0px;
    }

    .fifthsection .boxx .top .fill{
        padding-left: 20px;
    }

    .ninthsection .contact span i {
        width: 12%;
    }

    .tenthsection p {
        font-size: 1.6rem;
    }

    .fifthsection .content .col-lg-6 {
        padding: 0px;
        margin-bottom: 20px;
    }

}























/*  */

@media only screen and (max-width:426px) {

    #firstsection .navbar-brand {
        font-size: 3rem;
    }

    .secondsection {
        padding-top: 200px;
    }

    .secondsection h1 {
        font-size: 3.5rem;
    }

    .secondsection .right {
        margin-top: 50px;
    }

    .secondsection p {
        font-size: 1.5rem;
    }

    .forthsection .left {
        padding: 10px;
    }

    .forthsection #pic1 img {
        padding-top: 50px;
        padding-right: 50px;
    }

    .forthsection .right {
        padding-left: 10px;
    }

    .forthsection h4 {
        font-size: 2rem;
    }

    .forthsection h1 {
        font-size: 2.5rem;
    }

    .fifthsection h4 {
        font-size: 2rem;
    }

    .fifthsection h1 {
        font-size: 2.5rem;
    }

    .fifthsection .boxx i{
        font-size: 5rem;
    }

    .fifthsection .boxx p{
        font-size: 1.8rem;
    }

    .fifthsection h5{
        font-size: 2.2rem;
    }

    .fifthsection .box {
        width: 100%;
    }

    .fifthsection p {
        font-size: 1.3rem;
    }

    .sixthsection h4 {
        font-size: 2rem;
    }

    .sixthsection h1 {
        font-size: 2.5rem;
    }

    .sixthsection .left img {
        height: 400px;
    }

    .sixthsection .right {
        padding: 30px 20px;
    }

    .sixthsection input {
        font-size: 1.6rem;
    }

    .sixthsection select {
        font-size: 1.6rem;
    }

    .sixthsection textarea {
        font-size: 1.6rem;
    }

    .seventhsection h4 {
        font-size: 2rem;
    }

    .seventhsection h1 {
        font-size: 3rem;
    }

    .seventhsection h3 {
        font-size: 2.2rem;
    }

    .seventhsection p {
        font-size: 1.7rem;
    }

    .eightsection h4 {
        font-size: 2rem;
    }

    .eightsection h1 {
        font-size: 3rem;
    }

    .ninthsection .contact span i {
        width: 13%;
    }

}
















/*  */

@media only screen and (max-width:375px) {

    .forthsection h1 span {
        font-size: 3.1rem;
    }

    .eightsection img {
        padding-top: 7px;
    }

    .ninthsection .contact span i {
        width: 15%;
    }

    .fifthsection .boxx i{
        font-size: 4rem;
    }

    .fifthsection .boxx p{
        font-size: 1.6rem;
    }

    .fifthsection h5{
        font-size: 2rem;
    }

}