* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html {
    font-size: 10px;
}

#firstsection {
    background: transparent;
    /* position: fixed; */
    /* top: 0; */
    /* background: red; */
    z-index: 100;
}

.inner nav {
    background: transparent;
}

#firstsection .container-fluid {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

#firstsection .navbar-nav {
    margin-left: auto;
}

.inner {
    width: 100%;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg.jpg);
    background-size: cover;
    padding-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#firstsection .navbar-brand {
    padding-top: 10px;
    font-size: 4rem;
    color: #FEA116;
    font-weight: 800;
}

#firstsection .active {
    color: #FEA116;
    border-bottom: 3px solid #FEA116;
}

#firstsection li a {
    font-family: "Heebo", sans-serif;
    margin-top: 10px;
    font-size: 1.7rem;
    margin-right: 15px;
    color: white;
    font-weight: 600;
}

#firstsection li a:hover{
    color: #FEA116;
}

#firstsection .dropdown-menu a{
    color: black;
}

#firstsection .btn {
    padding: 10px 15px;
    background: #FEA116;
    color: white;
    font-size: 1.8rem;
    margin-left: 10px;
    font-weight: 700;
}


#firstsection .btn:hover {
    background: white;
    color: #FEA116;
}

#firstsection .dropdown .active{
    background: none;
    color: #FEA116;
}













/*  */

.secondsection {
    padding-top: 150px;
    padding-bottom: 50px;
}

.secondsection .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.secondsection h1 {
    font-size: 6rem;
    color: white;
    font-weight: 800;
    text-align: center;
}

.secondsection nav{
    margin-top: 20px;
}

.secondsection .breadcrumb-item + .breadcrumb-item::before {
    color: gray;
    padding-left: 5px;
    padding-right: 10px;
}

.secondsection li{
    font-size: 1.7rem;
}

.secondsection a{
    text-decoration: none;
    color: #FEA116;
}

.secondsection .active{
    color: white;
}


























/*  */

.thirdsection{
    margin-top: 100px;
}

.thirdsection .container-fluid{
    width: 90%;
    margin: 0 auto;
}

.thirdsection h4 {
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
}



.thirdsection h4 i {
    font-size: 4rem;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 5px;
}

.thirdsection h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
}

.thirdsection .mail{
    margin-top: 20px;
    margin-right: 0px;
}

.thirdsection i{
    color: #FEA116;
}

.thirdsection p{
    margin-top: 10px;
}

.thirdsection a{
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: gray;
}

.thirdsection .map{
    margin-top: 50px;
    margin-right: 0px;
}

.thirdsection iframe{
    width: 100%;
}

.thirdsection input {
    padding: 10px;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.thirdsection textarea {
    padding: 10px;
    width: 98%;
    margin: 0 auto;
    font-size: 1.8rem;
    margin-bottom: 20px;
}


.thirdsection .btn {
    padding: 15px 45px;
    font-size: 1.7rem;
    background: #FEA116;
    font-weight: 700;
    color: white;
    margin-left: 5px;
    width: 98%;
}


.thirdsection .btn:hover {
    background: #0F172B;
    color: white;
}


























/*  */

.ninthsection {
    margin-top: 100px;
    background: #0F172B;
}

.ninthsection .container-fluid {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0px;
}


.ninthsection h4 {
    /* text-align: center; */
    font-family: "Pacifico", cursive;
    color: #FEA116;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.ninthsection h4 i {
    font-size: 4rem;
    position: relative;
    padding-left: 10px;
    top: 5px;
}

.ninthsection .company p a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    transition: 1s;
}

.ninthsection p i {
    margin-right: 10px;
}

.ninthsection span i {
    padding: 10px 0px;
    font-size: 2rem;
    margin-right: 10px;
    border: 1px solid white;
    width: 13%;
    color: white;
    border-radius: 100%;
    text-align: center;
}

.ninthsection p {
    color: white;
    font-size: 1.6rem;
    ;
    font-weight: 700;
}

.ninthsection .contact p {
    margin-bottom: 15px;
}

.ninthsection h5 {
    font-size: 2rem;
    color: white;
    font-weight: 800;
}

.ninthsection .company a:hover {
    padding-left: 10px;
    transition: 1s;
    color: #FEA116;
}


.ninthsection input {
    border: 1px solid black;
    background: white;
    /* width: 100%; */
    padding: 10px;
    font-size: 1.7rem;
}


.ninthsection button {
    position: relative;
    left: -30px;
    width: 100%;
    background: #FEA116;
    color: black;
    padding: 10px;
    font-size: 1.7rem;
    border-radius: 0px 5px 5px 0px;
    transition: 1s;
    z-index: 99;
}

.ninthsection span i:hover {
    background: white;
    color: #FEA116;
}


.ninthsection button:hover {
    background: #FEA116;
    color: white;
}






















/*  */

.tenthsection {
    text-align: center;
    padding: 30px 0px 20px 0px;
    background: white;
}

.tenthsection p {
    font-size: 2rem;
    font-weight: 800;
}













































/*  */

@media only screen and (max-width:1200px) {

    #firstsection .container-fluid {
        width: 95%;
        /* background: red; */
    }

    .thirdsection .container-fluid{
        width: 95%;
    }

    .ninthsection .container-fluid {
        width: 95%;
    }

    .ninthsection span i {
        font-size: 1.7rem;
        width: 15%;
    }

}


























/*  */

@media only screen and (max-width:1024px) {

    #firstsection li a {
        font-size: 1.6rem;
    }

    .secondsection h1{
        font-size: 5rem;
    }

}


















/*  */

@media only screen and (max-width:991px) {

    #firstsection {
        background: #0F172B;
    }

    #firstsection .container-fluid {
        background: #0F172B;
        width: 100%;
        margin-top: 10px;
        padding: 0px 20px;
        /* padding-bottom: 30px; */
    }

    #firstsection .btn {
        margin-top: 20px;
        margin-left: 0px;
        /* width: 100%; */
    }

    #firstsection .bottom{
        margin-bottom: 30px;
    }

    #firstsection li a {
        margin-left: 0px;
    }

    #firstsection .btn {
        margin-left: 0px;
    }

    .secondsection {
        text-align: center;
        padding-top: 200px;
    }

    .ninthsection .col-lg-3 {
        margin-bottom: 50px;
    }

    .ninthsection .contact span i {
        width: 12%;
        padding: 15px;
    }

}






















/*  */

@media only screen and (max-width:800px) {

    .ninthsection .contact span i {
        width: 13%;
    }

    .thirdsection p{
        font-size: 1.6rem;
    }

}
























/*  */

@media only screen and (max-width:767px) {

    .ninthsection .contact span i {
        width: 15%;
    }

    .thirdsection form{
        margin-top: 50px;
    }

    .thirdsection .mail h4{
        font-size: 2rem;
    }

    .thirdsection p{
        font-size: 1.4rem;
    }

}












/*  */

@media only screen and (max-width:650px) {

    .ninthsection .contact span i {
        width: 17%;
        text-align: center;
        font-size: 1.5rem;
    }

    .thirdsection .container-fluid{
        width: 99%;
    }

    .thirdsection .mail h4{
        font-size: 1.8rem;
    }

    .thirdsection p{
        font-size: 1.3rem;
    }

}












/*  */

@media only screen and (max-width:575px) {

    .secondsection h1 {
        font-size: 5rem;
    }

    .ninthsection .contact span i {
        width: 10%;
    }

    .thirdsection .mail{
        text-align: left;
    }

    .thirdsection p{
        font-size: 1.8rem;
    }

    .thirdsection .mail h4{
        text-align: left;
        font-size: 2.2rem;
    }

    .thirdsection h4 {
        font-size: 2.2rem;
    }

    .thirdsection h1 {
        font-size: 3rem;
    }

}














/*  */


@media only screen and (max-width:501px) {

    .ninthsection .contact span i {
        width: 12%;
    }

    .tenthsection p {
        font-size: 1.6rem;
    }

}























/*  */

@media only screen and (max-width:426px) {

    #firstsection .navbar-brand {
        font-size: 3rem;
    }

    .secondsection {
        padding-top: 200px;
    }

    .secondsection h1 {
        font-size: 3.5rem;
    }

    .thirdsection p{
        font-size: 1.6rem;
    }

    .thirdsection .mail h4{
        font-size: 2rem;
    }

    .thirdsection h4 {
        font-size: 2rem;
    }

    .thirdsection h1 {
        font-size: 2.5rem;
    }

    
    .thirdsection input {
        font-size: 1.6rem;
    }

    .thirdsection textarea {
        font-size: 1.6rem;
    }

    .ninthsection .contact span i {
        width: 13%;
    }

}
















/*  */

@media only screen and (max-width:375px) {

    .ninthsection .contact span i {
        width: 15%;
    }

}